@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

.App {
  text-align: center;
  box-sizing: border-box;
  font-size: 0.625rem;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  background:linear-gradient(170.53deg, #2E1371 2.71%, #130B2B 97.75%);
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title{
  padding: 15px;
  font-size: 1.5rem;
  color: aliceblue;
}

.navbar-list{
  display: flex;
  padding: 1rem;
}

.navbar-item{
  padding: 0.5rem;
  font-size: 1.2rem;
  list-style: none;
  color: aliceblue;
}

.navbar-item a{
  color: aliceblue;
  text-decoration: none;
}

.Cart-logo:hover{
  width: 1.7rem;
  height: 1.7rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
